/* General */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 34px;
    background-color:rgb(255, 255, 255);
    
  }
  
    * {
        box-sizing: border-box;
    }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .hidden {
    display: none;
  }
  
  .fb {
    display: flex;
  }
  
  h4 {
    font-size: 20px;

  }
  
  /* Nav */
  
  #nb {
    background: #2c2d31;
    border-bottom: 5px solid #26abae;
    height: 60px;
    font-weight: 100;
  }
  
  .navbar-nav a {
    padding-right: 50px;
    color: white;
  }
  
  .navbar-nav a:hover {
    text-decoration: none;
  }
  
  .highlight {
    color: #ff0077 !important;
  }
  
  
  /* need on hover event here to indicate clickable button */
  
  .cat-active {
    background-color: #ff0077;  
    color: white;
    transition: background-color .7s;
  }
  
  
  
  #proj-row-1 {
    margin-top: 15px;
  }
  
  .work img {
    /* Consider a gradient overlay here instead */
    opacity: .8;
  }
  
  .overlay {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    transition:  0.3s;
  }
  
  .overlay:hover {
    opacity: 1;
    background:  rgb(255, 255, 255);
  }
  
  .over-title {
    margin-top: 35px;
    font-weight: 400;
  }
  
  .over-summary, .over-tech {
    font-weight: 350;
    margin-top: 5px;
    font-size: 18px;
  }
  
  .over-tech {
    font-weight: 300;
    color: #ff0077;
    
  }
  
  .over-git {
    margin-top: 10px;
    transition: all .2s ease-in-out;
  }
  
  .over-git:hover {
    cursor: pointer;
    transform: scale(1.1); 
  }
  
  
  .over-learn {
    color: black;
    border: 2px solid #ff0077;
    width: 200px;
    font-weight: 350;
    transition: 0.5s;
    margin-top: 15px;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .over-learn:hover {
    color: white;
    background: #ff0077;
  }
  
  /* About Me */
  
  /* #about-me {
    background: whitesmoke;
    border-radius: 5%;
  } */

  
  .hexagon {
    justify-content: center;
    align-items: center;
    height: 95px;
    width: 115px;
    background-image: url('./assets/images/hexagon.png');
    background-size: 100% 100%;
    margin-top: 45px;
    filter: drop-shadow(8px 8px 10px #5AA4B0)
  }
  
  .bullet-title {
    color: rgb(63, 39, 39);
    margin-top: 18px;
    font-weight: bold;
  }
  
  .bullet-text {
    color: rgb(63, 39, 39);
    margin-top: 8px;
  }
  
  #bio {
    margin-top: 50px;
  }
  #skill-graph{
    margin-top: 50px;
  }

  .aboutImg {
    border-radius: 5%;
    margin: 5%;
    filter: sepia(100%);
    filter: drop-shadow(8px 8px 10px #5AA4B0);
  }
  
  #headshot {
    max-width: 250px;
  }
  
  #headshot-title {
    margin-top: 15px;
  }
  
  #contact-link {
    color: blue;
  }
  
  .skill-row {
    margin-bottom: 10px;
    background: darkgrey;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .bar-title-bg {
    background: lightseagreen;
  }
  
  .title-text {
    font-size: 18px;
    color: white;
    padding-top: 5px;
  }
  
  .bar-fill {
   background: teal;
  }
  
  #last-row {
    margin-bottom: 65px;
  }
  
  /* Contact Section */
  
  #contact {
    background: rgb(59, 57, 68);
  }
  
  #contact-heading {
    color: white;
    margin-top: 65px;
  }
  
  #contact-underline {
    border: 1px solid white;
  }
  
  #contact-tag {
    color: #26abae;
    font-weight: 400;
    margin-top: 20px;
  }
  
  .input {
    background: #2c2d31;
    border: none;
    width: 100%;
    height: 35px;
    margin-bottom: 5px;
    padding-left: 5px;
    color: white;
  }
  
  #contact-form {
    margin-top: 25px;
  }
  
  #message-input {
  height: 300px;
  }
  
  #submit-btn {
    height: 50px;
    width: 130px;
    border: 2px solid white;
    background: rgb(59, 57, 68);
    color: white;
    margin-bottom: 65px;
    font-size: 16px;;
  }
  
  #submit-btn:hover {
    cursor: pointer;
    transition: .3s;
    font-size: 18px;
  }
  
  /* Footer */
  
  #footer {
    background: #2c2d31
  }
  
  #back-to-top {
    transform: rotate(270deg);
    position: relative;
    bottom: 22px;
    background: #ff0077;
    padding: 5px 10px;
  }
  
  #back-to-top:hover {
    background: #26abae;
  }
  
  .icons {
    background: rgb(59, 57, 68);
    padding: 15px;
    margin-top: 35px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 65px;
  }
  
  /* Media Queries */
  
  /* Add mq to fix overlay text spacing @ different vp widths */
  /* Add mq to increase contact form width on small screens */
  
  @media screen and (max-width: 576px) {
  
      /* Nav */
      .navbar-nav {
      background: #2c2d31;
      padding-left: 10px;
      border-bottom: 5px solid #26abae;
      border-left: 5px solid #26abae;
      width: 150px;  
      position: relative;
      top: 7px;
    }
  
    #cat-row {
      margin-top: 10px;
    }
  
  }
  
  @media screen and (max-width: 992px) {
  
    
  }
    